.skillset{
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.skillset-div_general{
    width: 100%;
    z-index: 0;
}

.skillset-div_1{
    margin-top: 180px;
    margin-bottom: 5px;
    text-align: center;
}

.skillset-div_1 h2{
    color: #00453A;
    font-size: 30pt;
    font-weight: 900;
}

.skillset-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skillset-container-items{
    display: flex;
    flex-wrap: wrap;
    color: #4E6E5B;
    width: 150px;
    height: 400px;
    text-align: center;
    justify-content: center;
    margin-top: 170px;
}

.div-tooltip{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 200px;
}

#java_logo{
    height: 150px;
}

#html_logo{
    height: 146px;
}

#css_logo{
    height: 150px;
}

#python_logo{
    height: 150px;
}

#js_logo{
    height: 150px;
}

.span{
    display: block;
    width: 100%;
    height: 200px;
    font-size: 15pt;
    font-weight: 900;
}

.tooltip{
    position: absolute;
    left: 38%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: #181428;
    color: #fff;
    padding: 5px 20px;
    border-radius: 7px;
    margin-left: -20px;
}

.tooltip::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 28px;
    border: 7px solid;
    border-color: #181428 #0000 #0000 #0000;
}

.div-tooltip:hover .tooltip{
    top: -54px;
    visibility: visible;
    opacity: 1;
}